    @font-face {
        font-family:'Trance';
        src: url("../../../assets/whoaskssatan.ttf");
        font-weight: bold;
        font-style: normal;
    }

.tranceVideos{
    font-family: 'Trance';
    font-size: 80px;
    color: white;
}